<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.nokia.S60CT.impl.gui" name="com.nokia.S60CT.impl" schema="schema/com.nokia.S60CT.impl.browser.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.nokia.s60ct.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Variant Creation"
            class="com.nokia.s60ct.gui.percpectives.Perspective"
            id="variant.creation.perspectie.id">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.nokia.s60ct.gui.views.FeatureView"
            icon="icons/Feature.gif"
            id="com.nokia.S60CT.gui.view1"
            name="Features"/>
      <view
            class="com.nokia.s60ct.gui.views.SettingEditorView"
            icon="icons/Setting.gif"
            id="com.nokia.S60CT.gui.SettingEditor"
            name="%_UI_Setting_Editor_name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nokia.s60ct.gui.editors.ViewEditor"
            default="false"
            icon="icons/view16.gif"
            id="com_nokia_s60ct_view_editor"
            name="View Editor"/>
      <editor
            class="com.nokia.s60ct.gui.editors.ConfigurationBrowser"
            default="true"
            extensions="confml"
            icon="icons/Configuration.gif"
            id="Configuration.Browser"
            name="%_UI_Configuration_Browser_name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Configuration"
            label="File"
            visible="true">
         <action
               class="com.nokia.s60ct.gui.actions.NewConfigurationAction"
               definitionId="File"
               icon="icons/New_enabled.gif"
               id="S60CT_action_set_new_configuration_wizard"
               label="%_UI_Menu_Configuration"
               menubarPath="CustomFile/New/slot0"
               state="true"
               style="push"
               toolbarPath="MainToolBar/new.group"
               tooltip="New Configuration"/>
         <action
               class="com.nokia.s60ct.gui.actions.OpenConfiguration"
               icon="icons/Open_enabled.gif"
               id="com_nokia_S60CT_action_set_files_open_configuration"
               label="%_UI_Menu_Configuration"
               menubarPath="CustomFile/Open/slot0"
               style="push"
               toolbarPath="MainToolBar/open.ext"
               tooltip="Open Configuration"/>
         
      </actionSet>
      <actionSet
            id="com_nokia_S60CT_action_set_generate"
            label="GenerateAll"
            visible="true">
         <action
               class="com.nokia.s60ct.gui.actions.GenerateAll"
               definitionId="generate.all"
               disabledIcon="icons/Generate_disabled.gif"
               icon="icons/Generate_enabled.gif"
               id="com.nokia.S60CT.generate.menuAction"
               label="Generate All..."
               menubarPath="Tools/Generate"
               pulldown="true"
               state="true"
               style="pulldown"
               toolbarPath="MainToolBar/Tools">
         </action>
      </actionSet>
      <actionSet
            id="com.nokia.S60CT.gui.test"
            label="label">
         <action
               id="com.nokia.S60CT.gui.action1"
               label="label">
         </action>
      </actionSet>
      <actionSet
            id="com.nokia.S60CT.gui.ConfigurationTool.general"
            label="%_UI_ConfigurationEMFEditorAdvisor_ActionSet_label"
            visible="true">
         <action
               class="com.nokia.s60ct.gui.ApplicationActionBarAdvisor$AboutAction"
               id="com.nokia.S60CT.gui.ConfigurationTool.about"
               label="%_UI_Menu_About_label"
               menubarPath="help/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="EObject.DefaultValue.popup"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               class="com.nokia.s60ct.gui.actions.DefaultToValue"
               definitionId="use.default.value"
               icon="icons/UseDefaultValues.gif"
               id="com.nokia.S60CT.gui.menuactions.usedefaultvalue"
               label="Use Default Value"
               menubarPath="edit">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="configurationemf.ParentSetting">
               </objectClass>
               <objectClass
                     name="configurationemf.LeafSettingDelegator">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="EObject.Rename.popup"
            objectClass="org.eclipse.emf.ecore.EObject">
            <action
               class="actions.RenameAction"
               definitionId="org.eclipse.ui.edit.rename"
               id="rename.eobject"
               label="Rename"
               menubarPath="edit">
         </action>
      </objectContribution>
      <objectContribution
            id="LeafSettingDelegator.popup"
            objectClass="configurationemf.LeafSettingDelegator">
         <action
               class="com.nokia.s60ct.gui.actions.DeleteLeafSettingDelegator"
               definitionId="org.eclipse.ui.edit.delete"
               icon="icons/Delete_enabled.gif"
               id="com.nokia.S60CT.gui.delete.leafsettingdelegator"
               label="Delete"
               menubarPath="edit">
         </action>
      </objectContribution>
      <objectContribution
            id="EObject.Delete.popup"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               class="actions.DeleteAction"
               definitionId="org.eclipse.ui.edit.delete"
               icon="icons/Delete_enabled.gif"
               id="delete.eobject"
               label="Delete"
               menubarPath="edit">
         </action>
         <visibility>
            <and>
               <not>
                  <objectClass
                        name="configurationemf.LeafSettingDelegator">
                  </objectClass>
               </not>
               <not>
                  <objectClass
                        name="configurationemf.Frame">
                  </objectClass>
               </not>
               <not>
                  <objectClass
                        name="configurationemf.Configuration">
                  </objectClass>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            id="Configuration.popup"
            objectClass="configurationemf.Configuration">
         <action
               class="com.nokia.s60ct.gui.actions.DeleteConfigurationAction"
               definitionId="org.eclipse.ui.edit.delete"
               icon="icons/Delete_enabled.gif"
               id="com.nokia.S60CT.gui.delete.configuration"
               label="Delete"
               menubarPath="edit">
         </action>
      </objectContribution>
      <objectContribution
            id="Feature.popup"
            objectClass="configurationemf.Feature">
         <action
               class="com.nokia.s60ct.gui.actions.AddFeatureSettingAction"
               icon="icons/Setting.gif"
               id="feature.new.setting"
               label="Setting"
               menubarPath="new/additions">
         </action>
      </objectContribution>
      <objectContribution
            id="Configuration.popup"
            objectClass="configurationemf.Configuration">
         <action
               class="com.nokia.s60ct.gui.actions.AddConfigurationFeatureAction"
               icon="icons/Feature.gif"
               id="configuration.new.feature"
               label="Feature"
               menubarPath="new/additions">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.AddConfigurationViewAction"
               icon="icons/view16.gif"
               id="cofiguration.new.view"
               label="View"
               menubarPath="new/additions">
         </action>
      </objectContribution>
      <objectContribution
            id="RootConf.popup"
            objectClass="configurationemf.RootConf">
         <action
               class="com.nokia.s60ct.gui.actions.AddConfigurationSubConfAction"
               icon="icons/Configuration.gif"
               id="configuration.new.subconf"
               label="Sub-configuration"
               menubarPath="new/additions">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.AddBasedOnAction"
               enablesFor="1"
               icon="icons/Configuration.gif"
               id="configuration.new.basedon"
               label="Based-on Configuration"
               menubarPath="new/additions">
         </action>
         <menu
               id="vd"
               label="VariantData"
               path="additions">
            <separator
                  name="slot0">
            </separator>
         </menu>
         <action
               class="com.nokia.s60ct.gui.actions.ImportVatiantDataAction"
               id="import.chain.vd.action"
               label="Chain Import..."
               menubarPath="vd/slot0">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.ImportVatiantDataAction"
               id="import.single.vd.action"
               label="Single Import..."
               menubarPath="vd/slot0">
         </action>
      </objectContribution>
      <objectContribution
            id="View.popup"
            objectClass="configurationemf.View">
         <action
               class="com.nokia.s60ct.gui.actions.AddViewGroupAction"
               id="view.new.group"
               label="Group"
               menubarPath="new/additions">
         </action>
      </objectContribution>
      <objectContribution
            id="ParentGroup.popup"
            objectClass="configurationemf.ParentGroup">
         <action
               class="com.nokia.s60ct.gui.actions.AddParentGroupGroupAction"
               id="parentgroup.new.group"
               label="Group"
               menubarPath="new/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="Generate.popup"
            objectClass="configurationemf.RootConf">
         <menu
               id="generate"
               label="Generate"
               path="additions">
            <separator
                  name="slot0">
            </separator>
         </menu>
         <action
               class="com.nokia.s60ct.gui.actions.GenerateAll"
               icon="icons/Generate_enabled.gif"
               id="com.nokia.S60CT.generate.popupAction"
               label="All"
               menubarPath="generate/slot0">
         </action>
      </objectContribution>
      <objectContribution
            id="Frame.popup"
            objectClass="configurationemf.Frame">
         <action
               class="com.nokia.s60ct.gui.actions.DeleteFrameAction"
               icon="icons/Delete_Row_enabled.gif"
               id="com.nokia.S60CT.gui.delete.frame"
               label="Remove Sequence"
               menubarPath="edit">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.MoveUpFrameAction"
               id="com.nokia.S60CT.gui.moveup"
               label="Move Up">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.MoveDownFrameAction"
               id="com.nokia.S60CT.gui.movedown"
               label="Move Down">
         </action>
         <action
               class="com.nokia.s60ct.gui.actions.CreateDuplicateAction"
               id="com.nokia.S60CT.gui.createduplicate"
               label="Create Duplicate">
         </action>
      </objectContribution>
      <objectContribution
            id="Problems.popup"
            objectClass="org.eclipse.core.internal.resources.Marker">
         <action
               class="com.nokia.s60ct.gui.actions.OpenValidationWebPagePopupAction"
               icon="icons/linkto_help.gif"
               id="open.validation.web.page"
               label="More Info...">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ParentSetting.popup"
            objectClass="configurationemf.ParentSetting">
         <action
               class="com.nokia.s60ct.gui.actions.CreateParentSettingDuplicateAction"
               id="com.nokia.S60CT.gui.actions.CreateParentSettingDuplicateAction"
               label="Create Duplicate"
               menubarPath="edit">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="product"
         name="S60 Configuration Tool"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.nokia.S60CT.gui.application"
            name="S60CT">
         <property
               name="appName"
               value="S60CT">
         </property>
         <property
               name="aboutImage"
               value="about.PNG">
         </property>
         <property
               name="windowImages"
               value="icons/application/alt_window_16.gif,icons/application/alt_window_32.gif">
         </property>
        
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nokia.s60ct.gui.editors.ConfmlElementFactory"
            id="com.nokia.S60CT.confml">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="Problems.View.MoreInfo"
            targetID="org.eclipse.ui.views.ProblemView">
         <action
               class="com.nokia.s60ct.gui.actions.OpenValidationWebPageAction"
               icon="icons/linkto_help.gif"
               id="com.nokia.S60CT.gui.problems.moreInfo"
               label="More Info..."
               menubarPath="slot0"
               style="push"
               toolbarPath="slot0"
               tooltip="Show more info about selected error/warning">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="generate.all"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+G">
      </key>
      <key
            commandId="use.default.value"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="generate.all"
            name="Generate All">
      </command>
      <command
            id="use.default.value"
            name="Use Default Value">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="com.nokia.s60ct.gui.preferences.OutputPreferencePage"
            id="com.nokia.s60ct.gui.preferences.OutputPreferencePage"
            name="Environment and Output">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nokia.s60ct.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
	point="org.eclipse.ui.activities">
	<activity
       description="Removes unneede icons like Next/Prev Annotation"
       id="activity.removeUnusedIcons"
       name="Remove Unused Icons Manager"/>
	<activityPatternBinding
	activityId="activity.removeUnusedIcons"
	pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation"> 
	
	</activityPatternBinding>
 <activityPatternBinding
       activityId="activity.removeUnusedIcons"
       pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
 </activityPatternBinding> </extension>

</plugin>
