<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
  This component and the accompanying materials are made available
  under the terms of "Eclipse Public License v1.0"
  which accompanies this distribution, and is available
  at the URL "http://www.eclipse.org/legal/epl-v10.html".
  
  Initial Contributors:
  Nokia Corporation - Initial contribution
  
  Contributors:
  
  Description: This file is part of com.nokia.tools.vct.navigator.layer component.
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.nokia.tools.vct.navigator.layer">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.nokia.tools.vct.navigator.layer.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.nokia.tools.vct.navigator.layer.VariantContentProvider"
            id="com.nokia.tools.vct.navigator.layer"
            labelProvider="com.nokia.tools.vct.navigator.layer.VariantLabelProvider"
            name="Variant Layer Content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="com.nokia.tools.vct.navigator.layer.VariantActionProvider"
            id="com.nokia.tools.vct.navigator.layer.actionProvider">
         <enablement>
            <or>
               <adapt
                     type="com.nokia.tools.vct.common.appmodel.EAppFeature">
               </adapt>
               <adapt
                     type="com.nokia.tools.vct.common.appmodel.EAppView">
               </adapt>
               <adapt
                     type="com.nokia.tools.vct.common.appmodel.EAppGroup">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.nokia.tools.vct.navigator.layer.RootFileDecorator"
            id="com.nokia.tools.vct.navigator.layer.decorator2"
            label="Root Configuration File Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
