<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
  This component and the accompanying materials are made available
  under the terms of "Eclipse Public License v1.0"
  which accompanies this distribution, and is available
  at the URL "http://www.eclipse.org/legal/epl-v10.html".
  
  Initial Contributors:
  Nokia Corporation - Initial contribution
  
  Contributors:
  
  Description: This file is part of com.nokia.tools.vct.validation.gcfml component.
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.nokia.tools.vct.validation.gcfml.data">
         <selector
               class="com.nokia.tools.variant.validation.core.BuildSelector">
         </selector>
      </clientContext>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="vct.gcfml"
            name="name">
         <category
               id="type"
               name="name">
         </category>
         <category
               id="data"
               name="name">
         </category>
         <category
               id="rfs"
               name="name">
         </category>
         <category
               id="meta"
               name="name">
         </category>
         <category
               id="other"
               name="name">
         </category>
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.s60.com/xml/genconfml/1">
         </package>
         <constraints
               categories="vct.confml/type">
         </constraints>
         <constraints
               categories="vct.confml/data">
         </constraints>
         <constraints
               categories="vct.confml/meta">
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="com.nokia.tools.variant.validation">
      <validator
            file_extension="gcfml"
            name="GCFML Validation"
            schema_uri="data/gcfml.xsd">
      </validator>
   </extension>

</plugin>
