<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies). 
  All rights reserved.
  This component and the accompanying materials are made available
  under the terms of the License "Eclipse Public License v1.0"
  which accompanies this distribution, and is available
  at the URL "http://www.eclipse.org/legal/epl-v10.html".
  
  Initial Contributors:
  Nokia Corporation - Initial contribution
  
  Contributors:
  
  Description: This file is part of com.nokia.tools.vct.confml component.
-->
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.s60.com/xml/confml/1"
            class="com.nokia.tools.vct.confml.model.confml1.EConfML1Package"
            genModel="model/persistence-confml.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.s60.com/xml/confml/2"
            class="com.nokia.tools.vct.confml.model.confml2.EConfML2Package"
            genModel="model/persistence-confml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="com.nokia.tools.vct.content.confml"
            class="com.nokia.tools.vct.confml.model.confml1.util.EConfML1ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="com.nokia.tools.vct.content.confml2"
            class="com.nokia.tools.vct.confml.model.confml2.util.EConfML2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="confml"
            id="com.nokia.tools.vct.content.confml"
            name="%_UI_EConfML1_content_type"
            priority="normal">
      </content-type>
   </extension>
   <extension point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="confml"
            id="com.nokia.tools.vct.content.confml2"
            name="%_UI_EConfML2_content_type"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.nokia.tools.vct.confml.model.confml1.util.EConfML1ResourceFactoryImpl"
            type="confml">
      </parser>
   </extension>

</plugin>
