<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="ConfmlEditorWidget" name="ConfmlEditorWidget" schema="schema/ConfmlEditorWidget.exsd"/>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.nokia.tools.s60ct.model.confml.presentation.ConfmlEditor"
            contributorClass="com.nokia.tools.s60ct.model.confml.presentation.ConfmlActionBarContributor"
            icon="icons/full/obj16/ConfmlModelFile.gif"
            id="com.nokia.tools.s60ct.model.confml.presentation.ConfmlEditorID"
            name="%_UI_ConfmlEditor_label">
         <contentTypeBinding
               contentTypeId="com.nokia.tools.s60ct.model.confml.ESetting">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.nokia.tools.s60ct.editor.editors.CONFML_EDITOR_TABBED_PROPERTIES_CONTRIBUTOR">
         <propertySection
               class="com.nokia.tools.s60ct.confml.editor.properties.SettingPropertySection"
               id="ConfmlEditorSettingSection"
               tab="com.nokia.tools.s60ct.confml.editors.CONFML_EDITOR_TAB">
            <input
                  type="com.nokia.tools.s60ct.model.confml.ESetting">
            </input>
            <input
                  type="com.nokia.tools.s60ct.model.confml.ESimpleValue">
            </input>
            <input
                  type="com.nokia.tools.s60ct.model.confml.EResourceValue">
            </input>
         </propertySection>
         <propertySection
               class="com.nokia.tools.variant.editor.properties.FeaturePropertySection"
               id="ConfmlEditorFeatureSection"
               tab="com.nokia.tools.s60ct.confml.editors.CONFML_EDITOR_TAB">
            <input
                  type="com.nokia.tools.s60ct.model.confml.EFeature">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.nokia.tools.s60ct.editor.editors.CONFML_EDITOR_TABBED_PROPERTIES_CONTRIBUTOR">
         <propertyCategory
               category="common">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.nokia.tools.s60ct.editor.editors.CONFML_EDITOR_TABBED_PROPERTIES_CONTRIBUTOR">
         <propertyTab
               category="common"
               id="com.nokia.tools.s60ct.confml.editors.CONFML_EDITOR_TAB"
               indented="false"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
                  adaptable="false"
                  id="org.eclipse.team.ccvs.ui.IFileContributions"
                  objectClass="org.eclipse.core.resources.IFile">
               <action
                     class="org.eclipse.team.internal.ccvs.ui.actions.ShowResourceInHistoryAction"
                     definitionId="org.eclipse.team.cvs.ui.showHistory"
                     helpContextId="org.eclipse.team.cvs.ui.show_in_history_action_context"
                     id="org.eclipse.team.cvs.ui.showHistory"
                     label="hidden"
                     overrideActionId="org.eclipse.team.ui.showLocalHistory"
                     state="false">
               </action>
               <action
                     class="org.eclipse.team.internal.ccvs.ui.actions.ShowAnnotationAction"
                     definitionId="org.eclipse.team.cvs.ui.showAnnotation"
                     helpContextId="org.eclipse.team.cvs.ui.get_annotate_action_context"
                     id="org.eclipse.team.cvs.ui.showAnnotation"
                     label="hidden"
                     state="false">
               </action>
               <action
                     class="org.eclipse.team.internal.ccvs.ui.actions.CompareWithRevisionAction"
                     definitionId="org.eclipse.team.cvs.ui.compareWithRevision"
                     helpContextId="org.eclipse.team.cvs.ui.compare_with_revision_action_context"
                     id="org.eclipse.team.cvs.ui.compareWithRevision"
                     label="hidden"
                     overrideActionId="org.eclipse.team.ui.compareLocalHistory"
                     state="false">
               </action>
               <action
                     class="org.eclipse.team.internal.ccvs.ui.actions.ReplaceWithRevisionAction"
                     definitionId="org.eclipse.team.cvs.ui.replaceWithRevision"
                     helpContextId="org.eclipse.team.cvs.ui.replace_with_revision_action_context"
                     id="org.eclipse.team.cvs.ui.replaceWithRevision"
                     label="hidden"
                     overrideActionId="org.eclipse.team.ui.replaceLocalHistory"
                     state="false">
               </action>
            </objectContribution>
   </extension>
   <extension
         point="com.nokia.tools.s60ct.confml.editor.ConfmlEditorWidget">
      <action
            class="com.nokia.tools.s60ct.confml.actions.AddSequenceItemAction"
            widget_class="com.nokia.tools.s60ct.confml.widgets.SequenceWidget">
      </action>
      <action
            class="com.nokia.tools.s60ct.confml.actions.RemoveSequenceItemsAction"
            widget_class="com.nokia.tools.s60ct.confml.widgets.SequenceWidget">
      </action>
      <action
            class="com.nokia.tools.s60ct.confml.actions.EmptySequenceAction"
            widget_class="com.nokia.tools.s60ct.confml.widgets.SequenceWidget">
      </action>
      <action
            class="com.nokia.tools.s60ct.confml.actions.BrowseFileAction"
            widget_class="com.nokia.tools.s60ct.confml.widgets.FileTextBox">
      </action>
      <action
            class="com.nokia.tools.s60ct.confml.actions.BrowseFileAction"
            widget_class="com.nokia.tools.s60ct.confml.widgets.FolderTextBox">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.nokia.tools.s60ct.confml.editor.FeatureEditorCategory"
            id="com.nokia.tools.s60ct.confml.editor.OpenEditorCommand"
            name="Open Feature Editor Command">
      </command>
      <category
            description="Category for commands of ConfML feature editor"
            id="com.nokia.tools.s60ct.confml.editor.FeatureEditorCategory"
            name="ConfML Feature Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.nokia.tools.s60ct.confml.editor.popup.actions.OpenEditorHandler"
            commandId="com.nokia.tools.s60ct.confml.editor.OpenEditorCommand">
      </handler>
      <handler
            class="com.nokia.tools.s60ct.confml.editor.popup.actions.OpenEditorHandler"
            commandId="org.eclipse.ui.navigator.Open">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.nokia.tools.s60ct.confml.editor.OpenEditorCommand"
               icon="icons/full/obj16/ConfmlModelFile.gif"
               label="Open Feature Editor"
               style="push"
               tooltip="Opens the feature editor for the selected feature">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <adapt
                              type="com.nokia.tools.vct.common.appmodel.EAppFeature">
                        </adapt>
                        <adapt
                              type="com.nokia.tools.vct.common.appmodel.EAppGroup">
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.nokia.tools.s60ct.confml.editor.hide"
            name="hide activity">
      </activity>
      <activityPatternBinding
            activityId="com.nokia.tools.s60ct.confml.editor.hide"
            pattern="org.eclipse.wst.sse.ui.*">
      </activityPatternBinding>
      
         
      <activityPatternBinding
            activityId="com.nokia.tools.s60ct.confml.editor.hide"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.nokia.tools.s60ct.confml.editor.hide"
            pattern="org.eclipse.wst.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.nokia.tools.s60ct.confml.editor.hide"
            pattern="org.eclipse.compare.replaceWithPreviousFromHistory">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.nokia.tools.s60ct.confml.editor.hide"
            pattern="org.eclipse.compare.addFromHistoryAction">
      </activityPatternBinding>
         
         
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.nokia.tools.s60ct.confml.viewer.NotesView"
            icon="icons/mrk_notes.gif"
            id="com.nokia.tools.s60ct.confml.editor.notesView"
            name="Notes"
            restorable="true">
      </view>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.nokia.tools.s60ct.confml.viewer.CustomProblemsViewer"
            id="org.eclipse.ui.views.ProblemView"
            name="Problems"
            restorable="false">
      </view>
   </extension>
	-->
</plugin>
